/* Dashboard Layout */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .data-section {
    display: flex;
    gap: 20px;
  }
  
  .bottom-section {
    display: flex;
    gap: 20px;
  }
  
  .bottom-1, .bottom-2 {
    flex: 1; 
  }
  .middle-row{
    display: flex;
    gap: 20px;
  }
  .middle-row-1, .middle-row-2{
    flex: 1;
  }
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .data-section {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .bottom-section {
      flex-direction: column;
    }
  }